.jumbotron
{background-image:url('../beachbg.jpg');
background-attachment:fixed;
min-height:600px;
margin-bottom:2px;
}

.alt1
{
background:#c2d6d6;
min-height:400px;	
}

.alt2
{
background:#333;
min-height:150px;
color:#fff;
text-align:center;	
}

.padding
{
padding-top:20px;
padding-bottom:20px;	
}

.padding2
{
padding-top:50px;	
}

.padding3
{
padding-left:100px;	
}

